* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
button {
  height: 50px;
  width: 150px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  padding: 20px;
}
.center h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form {
  padding: 0 40px;
  box-sizing: border-box;
}
.sign {
  position: relative;
  top: 100px;
  text-align: center;
  box-shadow: 0 0 11px rgb(0, 0, 0);
}
